In [18]:
import pickle
import pandas as pd

In [19]:
df = pd.read_csv("../data/test.csv")
df.head(2)

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.32    Ideal     I     SI1   60.5   58.0  4.43  4.49  2.70
1   1   1.24  Premium     I     SI1   62.9   60.0  6.80  6.74  4.26

In [20]:
df = df[['id', 'carat', 'cut', 'color', 'clarity', 'x', 'y', 'z']]

In [21]:
# encoding Clarity
with open('../data/modelo_3/encoding_clarity.pkl', 'rb') as clar:
    clar = pickle.load(clar)
    
    
# encoding Clarity
with open('../data/modelo_3/encoding_color.pkl', 'rb') as color:
    color = pickle.load(color)
    

# encoding Clarity
with open('../data/modelo_3/encoding_cut.pkl', 'rb') as cut:
    cut = pickle.load(cut)
    

# estandarización
with open('../data/modelo_3/estandarizacion.pkl', 'rb') as estan:
    estandar = pickle.load(estan)

In [22]:
with open('../data/modelo_3/mejor_modelo.pkl', 'rb') as modelo:
    modelo = pickle.load(modelo)

In [23]:
estandarizadas = pd.DataFrame(estandar.transform(df[['carat', 'x', 'y', 'z']]), columns = ['carat', 'x', 'y', 'z'])
estandarizadas

          carat         x         y         z
0     -0.593750 -0.688525 -0.664835 -0.732143
1      0.843750  0.606557  0.571429  0.660714
2      1.500000  1.016393  1.043956  1.053571
3      0.078125  0.136612  0.109890  0.062500
4      1.250000  0.857923  0.796703  1.026786
...         ...       ...       ...       ...
13480  0.625000  0.573770  0.549451  0.428571
13481  0.312500  0.245902  0.274725  0.276786
13482 -0.625000 -0.759563 -0.758242 -0.750000
13483  0.859375  0.721311  0.763736  0.607143
13484  0.171875  0.147541  0.120879  0.125000

[13485 rows x 4 columns]

In [24]:
clarity = pd.DataFrame(clar.transform(df[["clarity"]]), columns= ["clarity_mapeada"])
color_ = pd.DataFrame(color.transform(df[["color"]]), columns= ["color_mapeada"])
cut_ = pd.DataFrame(cut.transform(df[["cut"]]), columns= ["cut_mapeada"])

In [25]:
df_final = pd.concat([estandarizadas, clarity, color_, cut_], axis = 1)
df_final.head(3)

,carat,x,y,z,clarity_mapeada,color_mapeada,cut_mapeada
0,-0.59375,-0.688525,-0.664835,-0.732143,5,5,0
1,0.84375,0.606557,0.571429,0.660714,5,5,3
2,1.50000,1.016393,1.043956,1.053571,5,1,3

In [26]:
df_final = df_final.reindex(['carat', 'x', 'y', 'z', 'cut_mapeada', 'color_mapeada', 'clarity_mapeada'], axis=1)
df_final.head(3)

,carat,x,y,z,cut_mapeada,color_mapeada,clarity_mapeada
0,-0.59375,-0.688525,-0.664835,-0.732143,0,5,5
1,0.84375,0.606557,0.571429,0.660714,3,5,5
2,1.50000,1.016393,1.043956,1.053571,3,1,5

In [27]:
resultados = modelo.predict(df_final)

In [29]:
ids = range(13485)

In [30]:
final = {"id": ids,
         "price": resultados}

In [31]:
df_res = pd.DataFrame(final)

In [32]:
df_res.head(5)

   id     price
0   0  6.185646
1   1  8.518997
2   2  9.461136
3   3  7.815507
4   4  8.898958

In [33]:
df_res.to_csv("../data/modelo_3/predict.csv", index = False)